;; shadow-cljs configuration
{:source-paths ["src/browser"
                "src/electron"
                "src/test"]

 :dependencies [[reagent "0.9.0"]]

 :dev-http {8080 "public"}
 :builds {:frontend {:target :browser
                     :output-dir "public/js"
                     :asset-path "js/"
                     :modules {:main {:entries [todo.core]}}
                     :repl-init-ns todo.core
                     :repl-pprint true}
          :electron {:target :node-script
                     :output-to "public/main.js"
                     :main todo.main/main
                     :repl-init-ns todo.main
                     :repl-pprint true}}}
